header {
    background-color: black;
    color: white;
    font-size: 20px;
}
.avatar {
    width: 150px;
}

.navbar-right{
	margin-right: 50px;
}

main{
	margin-top: 10px;
}

table{
	text-align: center;
}